<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {558.99997329711914, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-09-23 07:42:28 +0000</string>
	<key>Creator</key>
	<string>Charles Dapogny</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{461.5, 157.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>24</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{399.5, 111.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{457.5, 77.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{175.5, 91}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>21</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{227, 112}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>20</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{316, 145.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>19</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{365, 107.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{257, 115}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>17</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{181, 138.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{23, 113}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{58, 133.5}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>14</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91, 109}, {7, 7}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{22, 102.62265660447125}, {85.044770227760239, 35.330995301942536}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.44364616030112358, 0.3638463925087887}</string>
					<string>{-0.20811798949272009, 0.53809225920898474}</string>
					<string>{0.86942339195572593, 0.69781763701749711}</string>
					<string>{0.36892602898786864, -0.18793218537516632}</string>
					<string>{-0.13157133397998888, -1.0736820077678315}</string>
					<string>{-0.6791743311095273, 0.18960052580859177}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.0232864</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.0</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0403614</string>
						<key>g</key>
						<string>0.0957111</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{133.33411826453855, 94.525970181109585}, {104.41758353922323, 47.914044737577768}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.44494257488960365, 0.36794522205411528}</string>
					<string>{-0.21157090854720828, 0.54133211833847472}</string>
					<string>{0.86701328111372855, 0.69030642594830693}</string>
					<string>{0.3710984901361396, -0.19107696349718184}</string>
					<string>{-0.1248163008414529, -1.0724603529426671}</string>
					<string>{-0.67831424123199802, 0.19455832576976162}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.0581554</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>1</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0633303</string>
						<key>g</key>
						<string>0.082901</string>
						<key>r</key>
						<string>0.935169</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{255.38079628914292, 86.165346159871632}, {122.76310055754952, 64.037428984770841}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.44665477500229234, 0.37287146029492924}</string>
					<string>{-0.21619329629525563, 0.54518321781462609}</string>
					<string>{0.86373227767310368, 0.68097059162647344}</string>
					<string>{0.37400163542065046, -0.19494750909865122}</string>
					<string>{-0.11572900683180198, -1.070865609823773}</string>
					<string>{-0.67711625370932937, 0.20055970277523372}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.385434</string>
						<key>g</key>
						<string>0.663373</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.326343</string>
						<key>g</key>
						<string>0.528922</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{394.21974236567144, 80.297071129707263}, {148.78025763432851, 81.702926635742173}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.44456742888735012, 0.36801305982314458}</string>
					<string>{-0.2105676463073699, 0.54138547459113306}</string>
					<string>{0.86771713195769595, 0.69018020093166577}</string>
					<string>{0.37046759397523865, -0.19112957413894827}</string>
					<string>{-0.12678194400721932, -1.0724393492095619}</string>
					<string>{-0.67856721146733023, 0.1946406450551541}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.553414</string>
						<key>g</key>
						<string>0.849895</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.380546</string>
						<key>g</key>
						<string>0.817656</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>36</integer>
			<key>Points</key>
			<array>
				<string>{465, 161}</string>
				<string>{463.5, 186.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Points</key>
			<array>
				<string>{461, 80}</string>
				<string>{461, 55}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>34</integer>
			<key>Points</key>
			<array>
				<string>{403.5, 115}</string>
				<string>{387, 100.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>33</integer>
			<key>Points</key>
			<array>
				<string>{319, 147.5}</string>
				<string>{319.5, 172.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>32</integer>
			<key>Points</key>
			<array>
				<string>{368, 111}</string>
				<string>{386, 95}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>Points</key>
			<array>
				<string>{260, 117.5}</string>
				<string>{243.5, 103}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>Points</key>
			<array>
				<string>{184, 141.5}</string>
				<string>{183, 163.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>29</integer>
			<key>Points</key>
			<array>
				<string>{231, 114.5}</string>
				<string>{245.5, 97.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>Points</key>
			<array>
				<string>{178.5, 92.5}</string>
				<string>{175.5, 74}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>27</integer>
			<key>Points</key>
			<array>
				<string>{61, 136}</string>
				<string>{61, 158.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>26</integer>
			<key>Points</key>
			<array>
				<string>{94.5, 112.5}</string>
				<string>{107, 95.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>25</integer>
			<key>Points</key>
			<array>
				<string>{26, 116}</string>
				<string>{9.5, 101.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0561995</string>
						<key>g</key>
						<string>0.114323</string>
						<key>r</key>
						<string>0.98977</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGfX5YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpOUVVZWmBk
			aGxwdHlVJG51bGzSCQoLDVpOUy5vYmplY3RzViRjbGFzc6EMgAKA
			GNwPEBESExQVFgoXGBkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0WXBvaW50U2l6ZVhiYXNlbGluZVhwcmVhbWJsZVd2ZXJz
			aW9uXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVG1vZGVVdGl0bGVU
			ZGF0ZYAEgA8jQC4AAAAAAAAjAAAAAAAAAACABoADgACAEYAXEASA
			FYATVTIuNy410igKKSpXTlMuZGF0YU8RJvAlUERGLTEuMwolxOXy
			5eun86DQxMYKNCAwIG9iago8PCAvTGVuZ3RoIDUgMCBSIC9GaWx0
			ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AS2NMQrCUBBEe0/x
			yli4ybp/N/mt4AECCx5AtBAixM4DeU+/QaaYx8zArMysDE0jIW4j
			rxsXni1U8a34+aF4EffSqLpJCa4Lp6RKjWNssz/aYKJmhLmYTrtc
			6POtKHmn++zJB+dsr/MXQl4aawplbmRzdHJlYW0KZW5kb2JqCjUg
			MCBvYmoKMTEwCmVuZG9iagoyIDAgb2JqCjw8IC9UeXBlIC9QYWdl
			IC9QYXJlbnQgMyAwIFIgL1Jlc291cmNlcyA2IDAgUiAvQ29udGVu
			dHMgNCAwIFIgL01lZGlhQm94IFswIDAgNyA3XQo+PgplbmRvYmoK
			NiAwIG9iago8PCAvUHJvY1NldCBbIC9QREYgL1RleHQgXSAvRm9u
			dCA8PCAvVHkxIDcgMCBSID4+ID4+CmVuZG9iagozIDAgb2JqCjw8
			IC9UeXBlIC9QYWdlcyAvTWVkaWFCb3ggWzAgMCA3IDddIC9Db3Vu
			dCAxIC9LaWRzIFsgMiAwIFIgXSA+PgplbmRvYmoKOCAwIG9iago8
			PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAwIFIgPj4KZW5kb2Jq
			CjcgMCBvYmoKPDwgL1R5cGUgL0ZvbnQgL1N1YnR5cGUgL1R5cGUx
			IC9CYXNlRm9udCAvTExIUlNNK0NNU1kxMCAvRm9udERlc2NyaXB0
			b3IgOSAwIFIKL0VuY29kaW5nIC9NYWNSb21hbkVuY29kaW5nIC9G
			aXJzdENoYXIgMTY1IC9MYXN0Q2hhciAxNjUgL1dpZHRocyBbIDUw
			MCBdID4+CmVuZG9iago5IDAgb2JqCjw8IC9UeXBlIC9Gb250RGVz
			Y3JpcHRvciAvRm9udE5hbWUgL0xMSFJTTStDTVNZMTAgL0ZsYWdz
			IDMyIC9Gb250QkJveCBbLTYwIC05OTEgMTE0NyA4MDZdCi9JdGFs
			aWNBbmdsZSAtMTQgL0FzY2VudCA3NzUgL0Rlc2NlbnQgLTk2MCAv
			Q2FwSGVpZ2h0IDY4OCAvU3RlbVYgNDAgL1hIZWlnaHQKNTE2IC9T
			dGVtSCA0MCAvTWF4V2lkdGggMTIwNyAvRm9udEZpbGUgMTAgMCBS
			ID4+CmVuZG9iagoxMCAwIG9iago8PCAvTGVuZ3RoIDExIDAgUiAv
			TGVuZ3RoMSAxMiAwIFIgL0xlbmd0aDIgMTMgMCBSIC9MZW5ndGgz
			IDE0IDAgUiAvRmlsdGVyCi9GbGF0ZURlY29kZSA+PgpzdHJlYW0K
			eAHteGc4nF3briBa1GjRb6L3IXr0Hr0TUcYYDGMGMzrRa0TvhBCd
			BNF7EATRowfREyUEQRLimyTP8z7f++69j2//3seeHzP3uuq6znWe
			a+YYDlZ9IwFFe6QdVA2JQAuABIWlAWUdIwuQMCAsLCooLCxCxMFh
			DEPDoX/biThMoR4oGBIh/d8ilD2gYDTGpgJGYwJ1kAjgniccAIkC
			IHFpkIS0sDAgIiwshSn1OxDpIQ2ogL1g9oCOIHAPiYCiiDiUkW6+
			HjBHJzSmz9+PADeEBwBJSUnw/04HFF2hHjAIGAHogNFOUFdMRwgY
			DhghITAo2vffSnDfdUKj3aSFhLy9vQXBrihBpIejHA8/4A1DOwGG
			UBTUwwtqD/waGdAFu0L/GlmQiAMwdoKh/jiMkA5ob7AHFMAY4DAI
			FIHCpHgi7KEeAKY7YKSpDei5QRF/grX/BPADf4EDgARB/yr3V/av
			QjDE72QwBIJ0dQMjfGEIR8ABBocCemragmgfND8ARtj/CgTDUUjM
			dsBeYBgcbIcJ+L11MKCmaACAMSD9NR8K4gFzQ6MEUTD4rxmFfpXB
			wKyKsFdGurpCEWgU0a8pVWAeUAga6eEr9NfhuiCQ3gj/v1cOMIS9
			wy8w7D3dhEwQMHdPqKYK8CcGYyL6x+YIRQNiwlLi4mIgAOoOQH0g
			TkK/Ghj7ukGBX87fZswMgf5uSDfAATMGNBDmAMV8EPmjwF5QAO3h
			CQ30/++Of18RgUCAPQyCBuygjjAE0T/VMWaow5815vw9YD6ApTCG
			oCAAQ1XgnycrDBXtkQi47z/hv49YSF1N0cxQne8vAP5VS0kJ6QP4
			C4hIAQJS4sIACAQSByQkxIDAf6/zL1T+nv53AX0w7K/Zhf9pp4lw
			QAJSf4bAoPf3IF5/ZANw/yUsHuDfO+giMXyGAtz/0P+BsJgwBPMG
			+r8WAfAr5X/H/V9V/kf6/+eO1Dzh8N/Ycf8B7X/xg11hcN+/IjB8
			9kRjtKGDxCgE8Z+hZtBf2ga4daD2ME/X//RqosEYjSgiHDE8FwDd
			ERS+8wdNGEoN5gO114ehIU5/uPTHbvJLhXAYAqqPRMF+3TuYLMwd
			8/tI/uXDKBnigrlbUBjC/nZBMcr6d8hVERCk/S8JioiJA2APD7Av
			EYYBmJUY4A/CaNUe6vOb4oCQIAKJxpQHMDMGAg5ID6JfBwsSA4Ts
			MBhhaI+xE/0fahuhMXIAe9j/q9mvbUI8PTww6vxNdMy+/l7/vgqg
			UB8ohGh+BgmRCXd+Gd5+XqPI4C2wOYK3stoZk2jRFy2G5px96u+k
			jZ+tPumuZGv//NZwhv5ceeTETAAD7+fzUZ8H3bkhy+ka+Wgs1b51
			pUOBgsFvx92OUGZ7JL3jmERGzDrFQZIBE5mtJa4lV4rZzEWERI/o
			9outostO1PZ9qV3AFSg5JWdNZ0A/Vszr3MV+ZMHKvooesnhAHn/T
			wzLT01jTZOwS+xEs/kypPY7um++6ZXzW0NLSm9z+vgzRo0Kt3mrx
			55GUdFR+91jzhpMH6KiTcu81obA4lcROlcvTEtnoil0jOZdxbCWW
			f0wV9rclDYh6NjjqKofc0Hv4ttGzDik2I5vXs3zEaLORY/xNiORW
			c3KME39NBrsSR7U91ulQ5kG1KDy/F5eGGcCr61y80plClpadWWhj
			LzTG4T8ME7XeGr91bvs4OwkkYpUmC5cc+PBMSVwfzuw27GC2cHE3
			DaCk56DU18TRZXVe9Ry+zS/49VkfrNKcJQVx8rH5TftQT9Qhkv0z
			E/VkSKJ5R/bu652kJk2x03cUpryq4uharVlklw1PQl7CVJBhfh6u
			flunusx9Bam5cbYEU1GyAmOKWWPtbaxMXUIL6QjF4ClyUkqXz+VM
			LxaqxN8+lQ1tlk2TDBZ+uDh+eE3FYC+BvHb9hkHPt+vWiXYeh0Ii
			BNZa+Z33nWxLdbnuoe8kwhp3Ey8+KllMhhxKzCznK/00CbKhLHv4
			IN/h8Y/4r9snDQf55op10ffhMaldk0HrNs/eMnXc749nzHw1vtfb
			wZW27aPR8P0U95DSbkhdeoAtvBhe2Zgg1qq81E8dY2LZD9ZuP2km
			8Oh569B48o0YZHkmc2cjxM36Y4PugduPCnclFeAmGddchJTo+nOd
			YE4pf1ziaNMgFZKvkjdJwOMNoSIzCEEsJ4dGog24vNYCTeGuJfuj
			5liKuu/qboenvYxLlK21jEL3BvwgZzjFoWqSP7z0Rd9/EDLXE3/j
			q4jsqv38cHfbysydQSVUpwUv2uLOSulxZDNFoUXC9NtCc33VQ+1L
			kXUbkZYbz1vKkRpp/kQgWp9JOqrBHa6udk+6gDYkyfnpdzNdFibD
			bNXUo5L9rJaEKeyTH5yp65lwFrUrmgdB2hTYhk6gF8xqeXZfSp6P
			BfJFwUmUz62AkuLFHm6CcEYvh2lkGJ/D2K1cnd19lrrAM7g8I4R3
			OZrt83PrIMOqLasK18gN8new0nCtCr3ByXhWzRtxL6de/ti+9dWQ
			4qcNespMJqvr7ZfMAU8F7tsVaN63pZRTN0ye5voHrH/9ahAIFt1U
			K4PjpHUeS/rgVjHgF02ikzXMFMt6nq/J1LEumC6P/yRRbh2iCjNF
			1mUserXm7SXL99Slssik5tbKDr+X4w/vXy+t7HzAVvmtMS2bdsJw
			/7qXoXLaXDFuroGKExEd6ZSCDX/eAM1wLlmHy02ax3YO8G1FzXN9
			a+yKuizv+WzKEnvNQQ0/F27ImWiYz49E5tjBkD2jIRN9zToHf63R
			8hEUfQTx5xGL6vaCfaE9r+6EMcuClh9zzM3aHHoFCrtZGmGRKTfv
			Lutzxd97NrwY5JU0zd/PXs/mZFKqI39Styu/muLGOxMu4UU6Syu7
			qA9CBa6rk6UoFOkmi1kfiqbFGG/WSTq0RgL0vgYlUWEtejzh9SRV
			whJTW5McpBGE4erERd+TDf2eUR4fO3zyjxq3plBxen9yd6PQPytr
			TSlteGcm8Pur/vk8lIgDl/Kx7/Jajc3Ai6kXClYQZsmUWgS9hDtX
			GN3WNa3oizsuerK0+z8rFWZMgOSy93D+JX2k6qNl2i0X7HdZvKQS
			BO44lguseHtn35tG5z5OPUC2hVrPsjdxxm0eH1lRSMLTEjaaUC2c
			4eHdQolra9Y82azGm6+DwSTH2KtVn+fH61ZpQjqM2ApkEj6mXXha
			YxnFECmKHWWJK8lSLBZ6IRazjNcJnmcl1I61s0VMnJVTWgnhjQgE
			BfpHT/QPKuRPpfM9YsyGkV67LIeAR90Qg4vr9VMfpv0rSHTLQ7EO
			nDhQ3yo+HeYBWC2zq7pFNKEbm1WmCxujA2Fd4PJsq5OP8tP8xNj7
			R3boAnhKphO5eNKVXrRXj00pnuGnt3VSiUaANY7+PquB2xlhdyLD
			WYuH+Fl7t0xx3f30j139G15zzFIuxL4U8TQNGsm+bjL0KoOz60CK
			M90+KHdc+tAw3KpqKcfOT11Zno0jNAC6VOzN+rE2fUT88XCxof5H
			9q2mFumrjnc8gx3xqrfnPhbbc1X1bnYxCLQ0Er8RwRJi6AM4vsQH
			Rs13McTNvacldh2OqL5/Qf+6UJtUcuzVyfxjyPBxwxiSah67KjZH
			W6P4XavW+5PjxjyezK/47nl8s4sQC9+0vpG24vyca0SUNjpv4y5t
			BRTq8IVvmuJdMnCd5I7Vjp+Wo43KBovI7OWXas2pcSm5wyzCIl6f
			ueiaNVi82lebu/tRKbAu/ZNL3WIv/orhPvfC9Ji1yBwHuTC24sXl
			nmt4G1bcKNkneIBrGHLqzV75HTqDzVbq5+EFvk8oA1ISFrxYbh7w
			PUwsymd+naraAIl/93IeJ1mnf3dW6PkpE80uei4C50IDmh05r69c
			/8lL9/M2m7p4IHHJHsln/Pw8qwZQgSJt4qu4VL6A7RrujRbT6S8r
			seplVXCJUC0HBjMqv2WPfJt92R/qbP5cFXeGI811gBLurlu9abWR
			B3R+Qu/rGuf9JrV774cHtMSoXGPuvyNA9m1VWHXfrTGW/r7R9+Zj
			xYHVqCqC6Lo3q3RzzYobqS3dHWh4Z+2oxmWBJZZxiA9qVKeQKUI/
			hrf+KRRanlDiUNKJ5e2yEHWL+VwDxCNBUJYAY3s83nsQyi7MNPcz
			pL6y11Qe1nXzZozf8bZkf19AV7Gc/ZWzr3H245DeBlPXga2MVTr3
			0reOykN0ScdJB3OvWrOvSfldb9s0jlZeDhJ6jX7YmtSXGXm9FMnE
			u58hFdfvMTat+agA6Vxtsq91SunjXNAqSMiPN3LOZweqmXn5hbhX
			Mweuon1gcB9HNOSsUV8AgTxpP+rgujtu0bGCBxXYAwmdk8blS4TE
			8aqK3c6wj/pShIxP97dSrpBj/4mjRujnyDoezfsM2Yo1dd059p2A
			7o+Q/ZHikefII8mEPi1vA8elx265vCBrStJQwZnY6CejPbu1xNqm
			MQ9P3lxdnLuSUMHBoyRWHFR7gmwltolt5TYvDJpgjEH0G26vTvvi
			mYfw8VHJ2GK+guZhCTiMkyMveL5sMRYaF+xjlZzag7TyC10qK9/G
			Oi8FVRYSMCCE/Wgr1F8wrbK4xzQl7ILLzQw+cfiFT92697JlzryI
			vrBHFK3pK/y685kg7tTtmD7LlNtFTGEqt1XfhSa7uVWr8VaWfa1d
			zvQ68NCbsh9FSCBuFFFM4jhIhfFWM+yZS3/t3JYbaM+W5h1Z1mZy
			wB55TN0rlcwJTnaW4WPyp24TjiLkGV9QTHbsrdHi3Qkx1+rBXjRt
			5PKbv3/8VpFpgYcQ8fl07EbdtHF7KkVvVuKi9ugK6b3dg6NP1iqw
			skvLkkNp1N0n75tFeli/UC2bRH0PyMFKv433Tcw0fNdhwiR2x10/
			JPDsYjJA9iouG/N7pkdML0C/F+8jKlvqSylzfODGZgovEROfo5ti
			MH8Nf7dsgHOliBiF8mCoRM7XaeLkg/Tqhow5RvIgwU9CamUMDIMt
			w8KF6WjD3NXWWGxBNkZvKLETPV0XqX7wU+jGjKvb0ed7Uch6hZra
			tfSQK5vDHcXJINHSNQPqT11KzKYnD9kPpVQLW2kSnWWJHlnJA5Uf
			n/h7X6+2IRMTPStW++w41VV354lS1seNnD3Fssqbqx3uL8cOh8lY
			Vl4tT9xpwI9ljipKHP8MeqHvcOsdYdUx/4xRX774yXr7dcanHkWl
			lklL3V62H4jbG2p/PKY96QryOVNnv8pnCC/eGRMMLGgZvfE2tamM
			9v1Yp9pIViqkpjY7KVT21vNuB1baayy8wx0VgnhC2954r2MMJVu5
			FebnH2X7kUCaOxR6dTk1XTPylp7JmbO+cU2DfhlSGIXTkJpdsU2a
			Kmt8PH8i+c6Fdjrp+l3f81xdTxJwKv5OcVlHn2BJ/wE2Wre++HU0
			XOQlebOLoqZVFA+tzjlZUKNR4daVRfo8ooE+9DEeXlbCNGcZr3U8
			00AS1wVEAYts7dYFZ9NgwN2V0b6ijLNO5gn6/ZqbVzvzFXypENLn
			wY13Cx76crnuoe5mmXwKkXJjtenELjVoX/i6wVWim6Nef7B6PVOO
			FLuvbOSVs1X9TcSxqLncvQI/+XmV/WBZ3fOIax12CBKmx/7utHYW
			3HJs85K8Hx91Do64lPmKniPXYs+x3gPBxzEa6z0kCSreay3nVkXB
			xB0MidS79k/9VZOph4p7H3mHzNOtZlEIslObrm470aNzT/1c2F1c
			2K3u7FZT4x5CHJoLvleTtynjmqUrHA0f/xB9cprhxgI3qH6aYrCV
			FYNrt1pGLeR2fK3h+CmjcYp7p9qEJK7Nz2lFiuQuxC6lwTv8q0JX
			rXh/Tj+Zu9NdeXghrkfrljCJt2M09bu5z75w8dJcupsHG19DHKHv
			MkzHuRwJEciXi7jS8eQNjzmctFTvp62uFZ773uZer7blWPCvYCAv
			ZW03YM4VEuZErfi0nDhsK1XyVU17PDpQXTmwRE8sOOppMT42eMb+
			nf2lLBX9h9DZXPkdewVRCA+5lWgFfTrpzjTjNBYHr06gBmMvfdan
			4jwZZftnq5nXBz3cOuhqQFTOl/lqFPTkXdGQCBQTOm1fnetsTflB
			eqsbD+5znlO8n7k2LNkUhTy109wt33OKG27o6LQSNdSFk7j3e3E2
			Vg+dKa9siupiNWrfR9V5G+t7+ifRoNpbx2rO9fMe8Qk8eV5eYPIo
			o1btq8m5Plub1mhkJF9l+6RFJ1SCUl64kjvtlABmz8CQrV0v4+iC
			L9V9k9tCUyAxDm774utnGdtp6u0txXECDen6F09XLTSY7EApDWtt
			GgP+zd5hA4bWFhPZdKT8RE/Z1crepWuozB+Z0su7HeH7TmS0UOkv
			c6jJtoX2DPQrReGdzp8WqGvN6TvVPdStt2zG1Ryy2YkOViY4NKbx
			W550INwmvDuVnhp3EXLN9g7mW1kVNHOPq/1ydYndNtCQEI8sFH8h
			6EFZMMWaroiLQyH4GOl5T0L0SRD5Tv2R1+pO10mQ1qKZf67O1LKo
			/GzC43KdI6tv0mZ0MlQUXiyJEeSZ183XZK6HK7EkE8aUmlMmCOqv
			asrI57MaF0UDgjeaUDR7OKcmVhsvwpJlJ8xjf964TBarfxUb7BGs
			g5bzla2O5F0PsVPG6XxoTdKB7mNQ9KgtgHM1nveVpF0cX3twcjaX
			P8ioHYK9G1agn8IpgUaTYZ96qvvJaDneWTieeMws0+TJw/apTub7
			e6O09B6vjuHDi6/KD+vku+6FtQklq7GJmwjWCMtt42Gf8L3XMpgK
			F6ZjG5qqnJDdDfmC+rS8H+aDvGe1OlvB+tb7QlxvSTDwUV4wenc4
			SIzisNB0bbi8jq+Korip6vmrCyaJ2DoTVGj2i5nyft/tzaHXKfjG
			+XHKYhfqHo5rJnivycXesidEZcRxBtQkNHTFEjxMW1Kv2JiTzMvY
			ISmoxtPx2lzhdqZFl4atrwAkX8YKEV/2c6xGrfoMsN+a3YrQm0ui
			j3YlFYx7Fv/8kNDQspN2PBOpe9f59hbBT67Q7dftoOeUc6SvZAJZ
			yA4jHugEPYHMcEvPQRNq5U8jItcp72fdYdaKdozCLe/7WNRTvk1G
			qRCXa1yVCkxzgU/ZOPq1AmwNtAI/FL5ZP/JUicxNiSENPOYMvnwt
			KSV4OVPatm1H76UE4QtS7eKTJx4UK4nmhEudmLfoy40jHE8INdW2
			peV70KlziXhGJnqjkH5SZxFlV8viD5V6EnIhLmbfXYoLyzuwh82r
			ucJefmYqocklo+65a1L6clZ3UVIbae+8iJolFSWPkiPOus1A/yV9
			As1lnmZPLcWnKlF7qLuBR5BlHyfp32d1FOfa8kQoiu5G/xfyvLbZ
			eOpie3ovukcW2JF4FumnP1m8kW6UJ5+yWLNUX+s/kVCTR94ae+2s
			Tya1dvScLafbMUUp9kncaN+8/uf4Exkla4MEvfIU0W9dvEo3ROvC
			PBFtOOxNK5r9pDtX+TZ6eNCftu+IWDLZX63YhgYKSFEbCL0u3tSp
			gwbnyc91DwzuTNY0XGMm33PawLGKLbE77CK8/NS2U2mzI3J34nwk
			vZ8Pl3wPzdhTUWM5llsbTXev4Ge5nkIRh06SZujyJxJ0ScOcF15Y
			5PQD+hYhu/WJ3iMdUzXqIWGxq1E+F81NETMpOYf0wPImgHz8/HXj
			iSg6qrHyqrXAuSKypDeArbR+6+Rz4gxR/sCgJfWUdqxTPna8xU3q
			Op45pJiEC/XKz5TbHEH4GskPsPirfEYDTlDVKJ/9Yo28u2paFOsb
			UXPXR/adSm+03BcfvxWB5cq/POFkJGB2/2YCKc7ovVtcTTVnQ7Jl
			G++9dTef1IHhFdIx7Od6Yiv6G+HevTbjMarCsaxay6Ix48Ns1psT
			3xzdf0oJ1zqo9nPLuLHJ/hxygMwK5rioo/anlYd3Q9ZjCfW+fdm1
			vTlEUOqWnOnfvFKmKU6rnK51qYwj5F3zxJUKv/L9kNE79hcGP5gn
			lLVPCo+Tmml8Mr0JP3SWMEWoNS/nXOckecgWvqGaIjcSGdAoY4tL
			1kfs9YPjnGWh2thyHzKDZ3UQCsWOZVPPMKF3frxSiRfuG3uI9vKZ
			lva0N0ii8bzva0P10tieLaXimR3fdrdepNUcvNrnA5e499G6uPlL
			ZfIuFS1mPXy67iiHHG5HBW8rhxLTrOEey52gh7txILVvn5ityRRF
			vaoIB9b0crwmqxkbRa55ERP5fd80bl7+Piw8v0Rld/s055pljp/v
			WPI0Oy4UVLXoMi2WYW+ouGfL3Reh4J8oe93XTK7rMHpD7ntS9bav
			wlbfVYvJ6neC338p9GrIDED80w/v+irZSZTDWTl9EloPryuUR707
			SCMQsC/AXezw3Nh5gNUzgr3Flhl0xuX5eSiAmlVuUfSHcP1j2t72
			Z9bTL1Jv8UxnCfg36SW01OjNfBchNyzrqSfzefNxl4Al2qCP4MRb
			yXE8aa390uiyLS+HbbYCnmN3eOon01Kbqek7/UB19nr38E6Mm0eZ
			iw5xkwKeQg+U89VT0bRMeO9QDNrobOs1B1PIPs9HITfDgfPl+VcV
			bLdEGjyJMlWhyWLnfK/na1Cl94+46AmoaltKv2Z+2LaLNnhJf3JY
			YwS/me/cdwok0tH74XvRYZEvB6895BCk1PJ7oEtVEBu+fbF+RqO6
			g8+/DjUVmaSQ1aFFUvJQCYTcgwyYfiiSnqQ3mReZaJYbBEXPvklh
			I+syMGt9GqZ3+XUi6Q6vnt+PVkFI87EzJLXSgvNi5f3c3Bhlwt6O
			7K7EzVSLW1n1p+dvDnf4FcUQQ5orarFpQrnyF29js1ZJrMAowXpd
			oSuK3LQAibkkuO73KsfdgHU1fUnm9Hn1h8bCBO2EnNeOmTqLOLwN
			MuItb+ROuH6pmcL9trdVTtGTwmeIXGg0kPnOcjv/0oDLbzaIRvVg
			zJ/jTgz+DRv1i9FcOdT7rSf3tb3kego8OCVuTb16+T7jKymOFukz
			sOAceY8QHTVW7ILvzVAcoQ6xavIxxPyVe/Ca94B725t7wvipJZ+H
			rQrmxqatmwWJI57GcOYtOYmerMlTEUCmV7UfPKKIuf9qO/cGK6Pm
			3nZC/csXalp7XyMfLIFCmybpkJwhsrMCft5BouOPl5asOnAGqwXJ
			KhE/SL64dV8nmsLxioE7RPE8aIwtlTZ9+dbAvLAbmZp9FgTcmWZ5
			RjVPEWt6HJXA5zbu+2LWvE8vdIuzfq2wvNxd1LxbS9sFevW1vLQ2
			Sqt/sSPu9NmKHX5XnHx0U37aQDp8YWLr0GtH8VT1kGVMdVq8njzy
			2NmKXZNpXCaC9IgpwIyhzpJS1A9EUr1hixhV+hTMspmmE6NWKOZo
			UmZU1dL9LFt9nnp68Zs8ls7xcfpYvfowrXj1psmIYSrv06zw98Sl
			UQ3oG4JmV8lXhB8gRHD9Bb2aJgtZqEuvy/E6B5Xw//Ai+h/8wv8/
			4A9C/4/gAIFDwR5opCvYw4XovwD4GfuGCmVuZHN0cmVhbQplbmRv
			YmoKMTEgMCBvYmoKNzA0NAplbmRvYmoKMTIgMCBvYmoKMTQzNApl
			bmRvYmoKMTMgMCBvYmoKNjAyOQplbmRvYmoKMTQgMCBvYmoKNTQw
			CmVuZG9iagoxNSAwIG9iagooTWFjIE9TIFggMTAuMTAuNSBRdWFy
			dHogUERGQ29udGV4dCkKZW5kb2JqCjE2IDAgb2JqCihEOjIwMTUw
			OTIzMDc1MzU4WjAwJzAwJykKZW5kb2JqCjEgMCBvYmoKPDwgL1By
			b2R1Y2VyIDE1IDAgUiAvQ3JlYXRpb25EYXRlIDE2IDAgUiAvTW9k
			RGF0ZSAxNiAwIFIgPj4KZW5kb2JqCjE3IDAgb2JqCjw8Ci9FbmNv
			ZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVTYW5u
			b3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJyYWNr
			YXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFja2FnZVt1
			c2VuYW1lc11FU2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNrICVw
			b3VyIGxhIGNvdWxldXIKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRi
			cmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1
			c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdodGJyYWNr
			ICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVTbGVmdGJy
			YWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXV0aWxlIHBvdXIgdGFw
			ZXIgZGlyZWN0ZW1lbnQgbGVzIGNhcmFjdI9yZXMgYWNjZW50dY5z
			CkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2Vw
			JTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdE
			JTBBJTVDdXNlcGFja2FnZSU1QnVzZW5hbWVzJTVEJTdCY29sb3Il
			N0QlMjAlMjVwb3VyJTIwbGElMjBjb3VsZXVyJTBBJTVDdXNlcGFj
			a2FnZSU3QmFtc3N5bWIlN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBh
			Y2thZ2UlN0JhbXNtYXRoJTdEJTIwJTI1bWF0aHMlMEElNUN1c2Vw
			YWNrYWdlJTVCdXRmOCU1RCU3QmlucHV0ZW5jJTdEJTIwJTI1dXRp
			bGUlMjBwb3VyJTIwdGFwZXIlMjBkaXJlY3RlbWVudCUyMGxlcyUy
			MGNhcmFjdCVDMyVBOHJlcyUyMGFjY2VudHUlQzMlQTlzJTBBRVNh
			bm5vZXBlbmQpCi9TdWJqZWN0IChFU2Fubm90RVNzbGFzaGJ1bGxl
			dEVTYW5ub3RlbmQpCi9Fc2NhcGVkU3ViamVjdCAoRVNhbm5vZXMl
			NUNidWxsZXRFU2Fubm9lc2VuZCkKL1R5cGUgKEVFdHlwZTRFRXR5
			cGVlbmQpCi9Db2xvciAoRUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAw
			LjAwMDAwMCAxLjAwMDAwMEVFY29sZW5kKQovQktDb2xvciAoRUVi
			a2MxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVF
			YmtjZW5kKQovVGl0bGUgKEVFdGl0bGVFRXRpdGxlZW5kKQovTWFn
			bmlmaWNhdGlvbiAoRUVtYWcxNS4wMDAwMDBFRW1hZ2VuZCkKL0Jh
			c2VsaW5lIChFRWJhczAuMDAwMDAwRUViYXNlbmQpCj4+CmVuZG9i
			agp4cmVmCjAgMTgKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDA4
			MjY3IDAwMDAwIG4gCjAwMDAwMDAyMjUgMDAwMDAgbiAKMDAwMDAw
			MDM5MyAwMDAwMCBuIAowMDAwMDAwMDIyIDAwMDAwIG4gCjAwMDAw
			MDAyMDYgMDAwMDAgbiAKMDAwMDAwMDMyNSAwMDAwMCBuIAowMDAw
			MDAwNTIxIDAwMDAwIG4gCjAwMDAwMDA0NzIgMDAwMDAgbiAKMDAw
			MDAwMDY5MCAwMDAwMCBuIAowMDAwMDAwOTIxIDAwMDAwIG4gCjAw
			MDAwMDgwODkgMDAwMDAgbiAKMDAwMDAwODExMCAwMDAwMCBuIAow
			MDAwMDA4MTMxIDAwMDAwIG4gCjAwMDAwMDgxNTIgMDAwMDAgbiAK
			MDAwMDAwODE3MiAwMDAwMCBuIAowMDAwMDA4MjI1IDAwMDAwIG4g
			CjAwMDAwMDgzNDIgMDAwMDAgbiAKdHJhaWxlcgo8PCAvU2l6ZSAx
			OCAvUm9vdCA4IDAgUiAvSW5mbyAxIDAgUiAvSUQgWyA8M2MzNDk1
			ZThlMzFmOTllYzA5OTQyNDMwMDM5Y2E1NDA+CjwzYzM0OTVlOGUz
			MWY5OWVjMDk5NDI0MzAwMzljYTU0MD4gXSA+PgpzdGFydHhyZWYK
			OTQ1MwolJUVPRoAF0iwtLi9aJGNsYXNzbmFtZVgkY2xhc3Nlc11O
			U011dGFibGVEYXRhoy4wMVZOU0RhdGFYTlNPYmplY3TTMwo0NTY3
			WE5TU3RyaW5nXE5TQXR0cmlidXRlc4AHgA6ACG8Q1wBcAGQAbwBj
			AHUAbQBlAG4AdABjAGwAYQBzAHMAWwAxADAAcAB0AF0AewBhAHIA
			dABpAGMAbABlAH0ACgBcAHUAcwBlAHAAYQBjAGsAYQBnAGUAWwB1
			AHMAZQBuAGEAbQBlAHMAXQB7AGMAbwBsAG8AcgB9ACAAJQBwAG8A
			dQByACAAbABhACAAYwBvAHUAbABlAHUAcgAKAFwAdQBzAGUAcABh
			AGMAawBhAGcAZQB7AGEAbQBzAHMAeQBtAGIAfQAgACUAbQBhAHQA
			aABzAAoAXAB1AHMAZQBwAGEAYwBrAGEAZwBlAHsAYQBtAHMAbQBh
			AHQAaAB9ACAAJQBtAGEAdABoAHMACgBcAHUAcwBlAHAAYQBjAGsA
			YQBnAGUAWwB1AHQAZgA4AF0AewBpAG4AcAB1AHQAZQBuAGMAfQAg
			ACUAdQB0AGkAbABlACAAcABvAHUAcgAgAHQAYQBwAGUAcgAgAGQA
			aQByAGUAYwB0AGUAbQBlAG4AdAAgAGwAZQBzACAAYwBhAHIAYQBj
			AHQA6AByAGUAcwAgAGEAYwBjAGUAbgB0AHUA6QBzAArTOgkKOz0/
			V05TLmtleXOhPIAJoT6ACoANVk5TRm9udNRCQ0QKRUZHSFZOU1Np
			emVYTlNmRmxhZ3NWTlNOYW1lI0AoAAAAAAAAEBCAC4AMVk1vbmFj
			b9IsLUtMVk5TRm9udKJNMVZOU0ZvbnTSLC1PUFxOU0RpY3Rpb25h
			cnmiTzHSLC1SU18QEk5TQXR0cmlidXRlZFN0cmluZ6JUMV8QEk5T
			QXR0cmlidXRlZFN0cmluZ9MzCjRWNjeAEIAOgAhXXGJ1bGxldNNb
			XApdXl9VTlNSR0JcTlNDb2xvclNwYWNlRjAgMCAwABABgBLSLC1h
			YldOU0NvbG9yomMxV05TQ29sb3LSZQpmZ1dOUy50aW1lI0G7spIW
			saKUgBTSLC1palZOU0RhdGWiazFWTlNEYXRl0gptbm9ZTlMuc3Ry
			aW5ngBZQ0iwtcXJfEA9OU011dGFibGVTdHJpbmejcXMxWE5TU3Ry
			aW5n0iwtdXZfEA9MYXRleGl0RXF1YXRpb26jd3gxXxAPTGF0ZXhp
			dEVxdWF0aW9uXxAPTlNNYW5hZ2VkT2JqZWN00iwtentXTlNBcnJh
			eaJ8MVdOU0FycmF5XxAPTlNLZXllZEFyY2hpdmVy0X+AVHJvb3SA
			AQAIABEAGgAjAC0AMgA3AFMAWQBeAGkAcAByAHQAdgCPAJcAogCs
			ALUAvgDGANgA3gDjAOkA7gDwAPIA+wEEAQYBCAEKAQwBDgEQARIB
			FAEaAR8BJygbKB0oIigtKDYoRChIKE8oWChfKGgodSh3KHkoeyos
			KjMqOyo9Kj8qQSpDKkUqTCpVKlwqZSpsKnUqdyp5KnsqgiqHKo4q
			kSqYKp0qqiqtKrIqxyrKKt8q5iroKuoq7Cr0KvsrASsOKxUrFysZ
			Kx4rJispKzErNis+K0crSStOK1UrWCtfK2QrbitwK3ErdiuIK4wr
			lSuaK6wrsCvCK9Qr2SvhK+Qr7Cv+LAEsBgAAAAAAAAIBAAAAAAAA
			AIEAAAAAAAAAAAAAAAAAACwI
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Calque 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-09-23 07:57:55 +0000</string>
	<key>Modifier</key>
	<string>Charles Dapogny</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{594.99997329711914, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{-2, 64}, {1390, 813}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{2.5, 1.5}, {556, 329.5}}</string>
		<key>Zoom</key>
		<real>2</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canevas 1</string>
				<real>2</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
