<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {558.99997711181641, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2017-12-28 17:55:13 +0000</string>
	<key>Creator</key>
	<string>Charles Dapogny</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>20</integer>
			<key>Points</key>
			<array>
				<string>{365, 407}</string>
				<string>{365, 385.5}</string>
			</array>
			<key>Rotation</key>
			<real>18.736906051635742</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>11</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{343.24999999999932, 393.99999999999977}, {22.000000000000682, 12.249999999999773}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999999999999822, 0.39795918367346417}</string>
					<string>{-0.49999999999999822, 0.39795918367346417}</string>
					<string>{0.50000000000002132, -0.50000000000001421}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.50000000000002132, -0.50000000000003553}</string>
					<string>{0.48863636363636687, 0.5}</string>
					<string>{0.48863636363636687, 0.5}</string>
					<string>{0.48863636363636687, 0.5}</string>
					<string>{-0.49999999999999822, 0.39795918367346417}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientCenter</key>
					<string>{0, -0.076190476171428559}</string>
					<key>GradientColor</key>
					<dict>
						<key>tiff</key>
						<data>
						TU0AKgAAEAj/////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/////////////////
						//////89LP//PSz//z0s//89LP//
						/////////////////////z0s//89
						LP//PSz//z0s////////////////
						////////PSz//z0s//89LP//PSz/
						//////////////////////89LP//
						PSz//z0s//89LP//////////////
						/////////z0s//89LP//PSz//z0s
						////////////////////////PSz/
						/z0s//89LP//PSz/////////////
						//////////89LP//PSz//z0s//89
						LP///////////////////////z0s
						//89LP//PSz//z0s////////////
						////////////PSz//z0s//89LP//
						PSz///////////////////////89
						LP//PSz//z0s//89LP//////////
						/////////////z0s//89LP//PSz/
						/z0s////////////////////////
						PSz//z0s//89LP//PSz/////////
						//////////////89LP//PSz//z0s
						//89LP//////////////////////
						/z0s//89LP//PSz//z0s////////
						////////////////PSz//z0s//89
						LP//PSz/////////////////////
						//89LP//PSz//z0s//89LP//////
						/////////////////z0s//89LP//
						PSz//z0s////////////////////
						////PSz//z0s//89LP//PSz/////
						//////////////////89LP//PSz/
						/z0s//89LP//////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/////////////////
						//////89LP//PSz//z0s//89LP//
						/////////////////////z0s//89
						LP//PSz//z0s////////////////
						////////PSz//z0s//89LP//PSz/
						//////////////////////89LP//
						PSz//z0s//89LP//////////////
						/////////z0s//89LP//PSz//z0s
						////////////////////////PSz/
						/z0s//89LP//PSz/////////////
						//////////89LP//PSz//z0s//89
						LP///////////////////////z0s
						//89LP//PSz//z0s////////////
						////////////PSz//z0s//89LP//
						PSz///////////////////////89
						LP//PSz//z0s//89LP//////////
						/////////////z0s//89LP//PSz/
						/z0s////////////////////////
						PSz//z0s//89LP//PSz/////////
						//////////////89LP//PSz//z0s
						//89LP//////////////////////
						/z0s//89LP//PSz//z0s////////
						////////////////PSz//z0s//89
						LP//PSz/////////////////////
						//89LP//PSz//z0s//89LP//////
						/////////////////z0s//89LP//
						PSz//z0s////////////////////
						////PSz//z0s//89LP//PSz/////
						//////////////////89LP//PSz/
						/z0s//89LP//////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/////////////////
						//////89LP//PSz//z0s//89LP//
						/////////////////////z0s//89
						LP//PSz//z0s////////////////
						////////PSz//z0s//89LP//PSz/
						//////////////////////89LP//
						PSz//z0s//89LP//////////////
						/////////z0s//89LP//PSz//z0s
						////////////////////////PSz/
						/z0s//89LP//PSz/////////////
						//////////89LP//PSz//z0s//89
						LP///////////////////////z0s
						//89LP//PSz//z0s////////////
						////////////PSz//z0s//89LP//
						PSz///////////////////////89
						LP//PSz//z0s//89LP//////////
						/////////////z0s//89LP//PSz/
						/z0s////////////////////////
						PSz//z0s//89LP//PSz/////////
						//////////////89LP//PSz//z0s
						//89LP//////////////////////
						/z0s//89LP//PSz//z0s////////
						////////////////PSz//z0s//89
						LP//PSz/////////////////////
						//89LP//PSz//z0s//89LP//////
						/////////////////z0s//89LP//
						PSz//z0s////////////////////
						////PSz//z0s//89LP//PSz/////
						//////////////////89LP//PSz/
						/z0s//89LP//////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/////////////////
						//////89LP//PSz//z0s//89LP//
						/////////////////////z0s//89
						LP//PSz//z0s////////////////
						////////PSz//z0s//89LP//PSz/
						//////////////////////89LP//
						PSz//z0s//89LP//////////////
						/////////z0s//89LP//PSz//z0s
						////////////////////////PSz/
						/z0s//89LP//PSz/////////////
						//////////89LP//PSz//z0s//89
						LP///////////////////////z0s
						//89LP//PSz//z0s////////////
						////////////PSz//z0s//89LP//
						PSz///////////////////////89
						LP//PSz//z0s//89LP//////////
						/////////////z0s//89LP//PSz/
						/z0s////////////////////////
						PSz//z0s//89LP//PSz/////////
						//////////////89LP//PSz//z0s
						//89LP//////////////////////
						/z0s//89LP//PSz//z0s////////
						////////////////PSz//z0s//89
						LP//PSz/////////////////////
						//89LP//PSz//z0s//89LP//////
						/////////////////z0s//89LP//
						PSz//z0s////////////////////
						////PSz//z0s//89LP//PSz/////
						//////////////////89LP//PSz/
						/z0s//89LP//////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/////////////////
						//////89LP//PSz//z0s//89LP//
						/////////////////////z0s//89
						LP//PSz//z0s////////////////
						////////PSz//z0s//89LP//PSz/
						//////////////////////89LP//
						PSz//z0s//89LP//////////////
						/////////z0s//89LP//PSz//z0s
						////////////////////////PSz/
						/z0s//89LP//PSz/////////////
						//////////89LP//PSz//z0s//89
						LP///////////////////////z0s
						//89LP//PSz//z0s////////////
						////////////PSz//z0s//89LP//
						PSz///////////////////////89
						LP//PSz//z0s//89LP//////////
						/////////////z0s//89LP//PSz/
						/z0s////////////////////////
						PSz//z0s//89LP//PSz/////////
						//////////////89LP//PSz//z0s
						//89LP//////////////////////
						/z0s//89LP//PSz//z0s////////
						////////////////PSz//z0s//89
						LP//PSz/////////////////////
						//89LP//PSz//z0s//89LP//////
						/////////////////z0s//89LP//
						PSz//z0s////////////////////
						////PSz//z0s//89LP//PSz/////
						//////////////////89LP//PSz/
						/z0s//89LP//////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/////////////////
						//////89LP//PSz//z0s//89LP//
						/////////////////////z0s//89
						LP//PSz//z0s////////////////
						////////PSz//z0s//89LP//PSz/
						//////////////////////89LP//
						PSz//z0s//89LP//////////////
						/////////z0s//89LP//PSz//z0s
						////////////////////////PSz/
						/z0s//89LP//PSz/////////////
						//////////89LP//PSz//z0s//89
						LP///////////////////////z0s
						//89LP//PSz//z0s////////////
						////////////PSz//z0s//89LP//
						PSz///////////////////////89
						LP//PSz//z0s//89LP//////////
						/////////////z0s//89LP//PSz/
						/z0s////////////////////////
						PSz//z0s//89LP//PSz/////////
						//////////////89LP//PSz//z0s
						//89LP//////////////////////
						/z0s//89LP//PSz//z0s////////
						////////////////PSz//z0s//89
						LP//PSz/////////////////////
						//89LP//PSz//z0s//89LP//////
						/////////////////z0s//89LP//
						PSz//z0s////////////////////
						////PSz//z0s//89LP//PSz/////
						//////////////////89LP//PSz/
						/z0s//89LP//////////////////
						/////z0s//89LP//PSz//z0s////
						////////////////////PSz//z0s
						//89LP//PSz/ABEBAAADAAAAAQAg
						AAABAQADAAAAAQAgAAABAgADAAAA
						BAAAEOoBAwADAAAAAQABAAABBgAD
						AAAAAQACAAABEQAEAAAAAQAAAAgB
						EgADAAAAAQABAAABFQADAAAAAQAE
						AAABFgADAAAAAQAgAAABFwAEAAAA
						AQAAEAABGgAFAAAAAQAAENoBGwAF
						AAAAAQAAEOIBHAADAAAAAQABAAAB
						KAADAAAAAQACAAABUgADAAAAAQAB
						AAABUwADAAAABAAAEPKHcwAHAAAH
						2AAAEPoAAAAAAAAAkAAAAAEAAACQ
						AAAAAQAIAAgACAAIAAEAAQABAAEA
						AAfYYXBwbAIgAABtbnRyUkdCIFhZ
						WiAH2QACABkACwAaAAthY3NwQVBQ
						TAAAAABhcHBsAAAAAAAAAAAAAAAA
						AAAAAAAA9tYAAQAAAADTLWFwcGwA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAtkZXNjAAABCAAAAG9kc2Nt
						AAABeAAABZxjcHJ0AAAHFAAAADh3
						dHB0AAAHTAAAABRyWFlaAAAHYAAA
						ABRnWFlaAAAHdAAAABRiWFlaAAAH
						iAAAABRyVFJDAAAHnAAAAA5jaGFk
						AAAHrAAAACxiVFJDAAAHnAAAAA5n
						VFJDAAAHnAAAAA5kZXNjAAAAAAAA
						ABRHZW5lcmljIFJHQiBQcm9maWxl
						AAAAAAAAAAAAAAAUR2VuZXJpYyBS
						R0IgUHJvZmlsZQAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAbWx1
						YwAAAAAAAAAfAAAADHNrU0sAAAAo
						AAABhGRhREsAAAAuAAABrGNhRVMA
						AAAkAAAB2nZpVk4AAAAkAAAB/nB0
						QlIAAAAmAAACInVrVUEAAAAqAAAC
						SGZyRlUAAAAoAAACcmh1SFUAAAAo
						AAACmnpoVFcAAAAWAAACwm5iTk8A
						AAAmAAAC2GNzQ1oAAAAiAAAC/mhl
						SUwAAAAeAAADIGl0SVQAAAAoAAAD
						PnJvUk8AAAAkAAADZmRlREUAAAAs
						AAADimtvS1IAAAAWAAADtnN2U0UA
						AAAmAAAC2HpoQ04AAAAWAAADzGph
						SlAAAAAaAAAD4mVsR1IAAAAiAAAD
						/HB0UE8AAAAmAAAEHm5sTkwAAAAo
						AAAERGVzRVMAAAAmAAAEHnRoVEgA
						AAAkAAAEbHRyVFIAAAAiAAAEkGZp
						RkkAAAAoAAAEsmhySFIAAAAoAAAE
						2nBsUEwAAAAsAAAFAnJ1UlUAAAAi
						AAAFLmFyRUcAAAAmAAAFUGVuVVMA
						AAAmAAAFdgBWAWEAZQBvAGIAZQBj
						AG4A/QAgAFIARwBCACAAcAByAG8A
						ZgBpAGwARwBlAG4AZQByAGUAbAAg
						AFIARwBCAC0AYgBlAHMAawByAGkA
						dgBlAGwAcwBlAFAAZQByAGYAaQBs
						ACAAUgBHAEIAIABnAGUAbgDoAHIA
						aQBjAEMepQB1ACAAaADsAG4AaAAg
						AFIARwBCACAAQwBoAHUAbgBnAFAA
						ZQByAGYAaQBsACAAUgBHAEIAIABH
						AGUAbgDpAHIAaQBjAG8EFwQwBDME
						MAQ7BEwEPQQ4BDkAIAQ/BEAEPgRE
						BDAEOQQ7ACAAUgBHAEIAUAByAG8A
						ZgBpAGwAIABnAOkAbgDpAHIAaQBx
						AHUAZQAgAFIAVgBCAMEAbAB0AGEA
						bADhAG4AbwBzACAAUgBHAEIAIABw
						AHIAbwBmAGkAbJAadSgAIABSAEcA
						QgAggnJfaWPPj/AARwBlAG4AZQBy
						AGkAcwBrACAAUgBHAEIALQBwAHIA
						bwBmAGkAbABPAGIAZQBjAG4A/QAg
						AFIARwBCACAAcAByAG8AZgBpAGwF
						5AXoBdUF5AXZBdwAIABSAEcAQgAg
						BdsF3AXcBdkAUAByAG8AZgBpAGwA
						bwAgAFIARwBCACAAZwBlAG4AZQBy
						AGkAYwBvAFAAcgBvAGYAaQBsACAA
						UgBHAEIAIABnAGUAbgBlAHIAaQBj
						AEEAbABsAGcAZQBtAGUAaQBuAGUA
						cwAgAFIARwBCAC0AUAByAG8AZgBp
						AGzHfLwYACAAUgBHAEIAINUEuFzT
						DMd8Zm6QGgAgAFIARwBCACBjz4/w
						ZYdO9k4AgiwAIABSAEcAQgAgMNcw
						7TDVMKEwpDDrA5MDtQO9A7kDugPM
						ACADwAPBA78DxgOvA7sAIABSAEcA
						QgBQAGUAcgBmAGkAbAAgAFIARwBC
						ACAAZwBlAG4A6QByAGkAYwBvAEEA
						bABnAGUAbQBlAGUAbgAgAFIARwBC
						AC0AcAByAG8AZgBpAGUAbA5CDhsO
						Iw5EDh8OJQ5MACAAUgBHAEIAIA4X
						DjEOSA4nDkQOGwBHAGUAbgBlAGwA
						IABSAEcAQgAgAFAAcgBvAGYAaQBs
						AGkAWQBsAGUAaQBuAGUAbgAgAFIA
						RwBCAC0AcAByAG8AZgBpAGkAbABp
						AEcAZQBuAGUAcgBpAQ0AawBpACAA
						UgBHAEIAIABwAHIAbwBmAGkAbABV
						AG4AaQB3AGUAcgBzAGEAbABuAHkA
						IABwAHIAbwBmAGkAbAAgAFIARwBC
						BB4EMQRJBDgEOQAgBD8EQAQ+BEQE
						OAQ7BEwAIABSAEcAQgZFBkQGQQAg
						BioGOQYxBkoGQQAgAFIARwBCACAG
						JwZEBjkGJwZFAEcAZQBuAGUAcgBp
						AGMAIABSAEcAQgAgAFAAcgBvAGYA
						aQBsAGV0ZXh0AAAAAENvcHlyaWdo
						dCAyMDA3IEFwcGxlIEluYy4sIGFs
						bCByaWdodHMgcmVzZXJ2ZWQuAFhZ
						WiAAAAAAAADzUgABAAAAARbPWFla
						IAAAAAAAAHRNAAA97gAAA9BYWVog
						AAAAAAAAWnUAAKxzAAAXNFhZWiAA
						AAAAAAAoGgAAFZ8AALg2Y3VydgAA
						AAAAAAABAc0AAHNmMzIAAAAAAAEM
						QgAABd7///MmAAAHkgAA/ZH///ui
						///9owAAA9wAAMBs
						</data>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>21</integer>
			<key>Points</key>
			<array>
				<string>{366.5, 391.5}</string>
				<string>{366.5, 370}</string>
			</array>
			<key>Rotation</key>
			<real>18.736906051635742</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>11</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>19</integer>
			<key>Points</key>
			<array>
				<string>{365.5, 407}</string>
				<string>{365.5, 385.5}</string>
			</array>
			<key>Rotation</key>
			<real>18.736906051635742</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>11</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Points</key>
			<array>
				<string>{342, 404.5}</string>
				<string>{342, 383}</string>
			</array>
			<key>Rotation</key>
			<real>18.736906051635742</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>11</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{341.5, 369}, {24.5, 15.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>17</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, 0.4032258064516121}</string>
					<string>{-0.5, 0.4032258064516121}</string>
					<string>{0.49999999999999822, -0.5}</string>
					<string>{0.49999999999999822, -0.5}</string>
					<string>{0.49999999999999822, -0.5}</string>
					<string>{0.47959183673469319, 0.5}</string>
					<string>{0.47959183673469319, 0.5}</string>
					<string>{0.47959183673469319, 0.5}</string>
					<string>{-0.5, 0.4032258064516121}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientCenter</key>
					<string>{0, -0.076190476171428559}</string>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.438921</string>
						<key>g</key>
						<string>0.513288</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{144, 315}, {388, 204}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Calque 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2019-03-29 18:36:41 +0000</string>
	<key>Modifier</key>
	<string>Charles Dapogny</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{594.99997711181641, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{183, 66}, {1058, 961}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{118, 170.25}, {390, 403}}</string>
		<key>Zoom</key>
		<real>2</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canevas 1</string>
				<real>2</real>
				<real>4</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
